.card_info{
    
    height:500px;
    width:300px;
    margin:50px;
}
.wrapper{
    display:flex;
    margin-top:100px;
    justify-content: center;
}
.Weather{
    margin:15px 0 30px 10px;
    font-size:20px;
    
}
.jum{
    max-width:80%;
    margin:100px auto;
}
.title{
    margin-bottom:40px;
}
.return{
    margin-top: 30px;
}